/* Top div element */
.pb-filemng-template {
	margin-top: 40px;
	font-family: 'Sansita', sans-serif;
}


/* div element for each bookmark  */
.pb-filemng-body-folders:hover
{
	border-radius: 10px;
	background-color: white;
	cursor: pointer;
}

/* bookmark's title */
.pb-filemng-paragraphs {
	margin-top: -20px;
	margin-left:20px;
	text-align: left;
}

.glyphicon-folder-open p
{
	color:red;
}
glyphicon-link p
{
	color: red;
}

/*  bookmarks form */
.panel-body.pb-filemng-panel-body
{
	background-color: #e3e9f2;
}

/* BACK button */

.glyphicon-menu-left
{
	width: 5px;
	margin-bottom: 35px;
	margin-left:18px;
	height: 2px;
	background-color: white;

}

.currentNode .title
{
	margin-top: -45px;
	margin-left:65px;
	text-align: left;
	text-decoration:none;
	font-size: 120%;
}
.currentNode .title:hover
{
	text-decoration: none;
	cursor:default;
}
